In [2]:
import pandas as pd
import os

In [3]:
data_07 = pd.read_csv('D:\\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202007-citibike-tripdata.csv')

In [4]:
data_07.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1

In [5]:
data_08=pd.read_csv('D:\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202008-citibike-tripdata.csv')

In [6]:
data_08.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,2020-08-01 00:00:16.5960,2020-08-01 00:09:38.5610,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,42303,Customer,1994,2
1,236,2020-08-01 00:00:46.3900,2020-08-01 00:04:42.8890,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,2020-08-01 00:02:38.9250,2020-08-01 00:09:03.7590,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,2020-08-01 00:03:27.0270,2020-08-01 00:25:09.2120,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,42310,Customer,1993,1
4,5561,2020-08-01 00:03:57.4810,2020-08-01 01:36:38.5000,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,42346,Customer,1995,2

In [7]:
data_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43267 entries, 0 to 43266
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             43267 non-null  int64
 1   starttime                43267 non-null  object
 2   stoptime                 43267 non-null  object
 3   start station id         43267 non-null  int64
 4   start station name       43267 non-null  object
 5   start station latitude   43267 non-null  float64
 6   start station longitude  43267 non-null  float64
 7   end station id           43267 non-null  int64
 8   end station name         43267 non-null  object
 9   end station latitude     43267 non-null  float64
 10  end station longitude    43267 non-null  float64
 11  bikeid                   43267 non-null  int64
 12  usertype                 43267 non-null  object
 13  birth year               43267 non-null  int64
 14  gender                   43267 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.0+ MB

In [8]:
data_09=pd.read_csv('D:\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202009-citibike-tripdata.csv')

In [9]:
data_09.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [10]:
data_09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53833 entries, 0 to 53832
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             53833 non-null  int64
 1   starttime                53833 non-null  object
 2   stoptime                 53833 non-null  object
 3   start station id         53833 non-null  int64
 4   start station name       53833 non-null  object
 5   start station latitude   53833 non-null  float64
 6   start station longitude  53833 non-null  float64
 7   end station id           53833 non-null  int64
 8   end station name         53833 non-null  object
 9   end station latitude     53833 non-null  float64
 10  end station longitude    53833 non-null  float64
 11  bikeid                   53833 non-null  int64
 12  usertype                 53833 non-null  object
 13  birth year               53833 non-null  int64
 14  gender                   53833 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 6.2+ MB

In [11]:
data_10=pd.read_csv('D:\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202010-citibike-tripdata.csv')

In [12]:
data_10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1

In [13]:
data_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30086 entries, 0 to 30085
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             30086 non-null  int64
 1   starttime                30086 non-null  object
 2   stoptime                 30086 non-null  object
 3   start station id         30086 non-null  int64
 4   start station name       30086 non-null  object
 5   start station latitude   30086 non-null  float64
 6   start station longitude  30086 non-null  float64
 7   end station id           30086 non-null  int64
 8   end station name         30086 non-null  object
 9   end station latitude     30086 non-null  float64
 10  end station longitude    30086 non-null  float64
 11  bikeid                   30086 non-null  int64
 12  usertype                 30086 non-null  object
 13  birth year               30086 non-null  int64
 14  gender                   30086 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 3.4+ MB

In [14]:
data_11=pd.read_csv('D:\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202011-citibike-tripdata.csv')

In [15]:
data_11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,756,2020-11-01 00:11:32.6250,2020-11-01 00:24:09.5850,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,1
1,584,2020-11-01 00:14:20.4820,2020-11-01 00:24:04.7820,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,0
2,403,2020-11-01 00:22:55.8820,2020-11-01 00:29:39.0950,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,1
3,498,2020-11-01 00:41:37.4270,2020-11-01 00:49:55.7010,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,0
4,151,2020-11-01 00:53:21.2340,2020-11-01 00:55:52.8060,3185,City Hall,40.717732,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,1

In [15]:
data_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21275 entries, 0 to 21274
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             21275 non-null  int64
 1   starttime                21275 non-null  object
 2   stoptime                 21275 non-null  object
 3   start station id         21275 non-null  int64
 4   start station name       21275 non-null  object
 5   start station latitude   21275 non-null  float64
 6   start station longitude  21275 non-null  float64
 7   end station id           21275 non-null  int64
 8   end station name         21275 non-null  object
 9   end station latitude     21275 non-null  float64
 10  end station longitude    21275 non-null  float64
 11  bikeid                   21275 non-null  int64
 12  usertype                 21275 non-null  object
 13  birth year               21275 non-null  int64
 14  gender                   21275 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.4+ MB

In [16]:
data_12=pd.read_csv('D:\GT-VIRT-DATA-PT-03-2022-U-LOL\CitiBike\Resources\JC-202012-citibike-tripdata.csv')

In [17]:
data_12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [18]:
data_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             11694 non-null  int64
 1   starttime                11694 non-null  object
 2   stoptime                 11694 non-null  object
 3   start station id         11694 non-null  int64
 4   start station name       11694 non-null  object
 5   start station latitude   11694 non-null  float64
 6   start station longitude  11694 non-null  float64
 7   end station id           11694 non-null  int64
 8   end station name         11694 non-null  object
 9   end station latitude     11694 non-null  float64
 10  end station longitude    11694 non-null  float64
 11  bikeid                   11694 non-null  int64
 12  usertype                 11694 non-null  object
 13  birth year               11694 non-null  int64
 14  gender                   11694 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 1.3+ MB

In [19]:
merge_data_78=pd.merge(data_07, data_08, how = 'outer')
merge_data_78

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81942,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
81943,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
81944,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
81945,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
81946,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [20]:
merge_data_789=pd.merge(merge_data_78,data_09, how='outer')

In [21]:
merge_data_789.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1

In [22]:
merge_data_78910=pd.merge(merge_data_789,data_10, how='outer')

In [23]:
merge_data_78911=pd.merge(merge_data_78910,data_11, how='outer')

In [24]:
merge_data_712=pd.merge(merge_data_78911,data_12, how='outer')

In [25]:
merge_data_712

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185379,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
185380,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
185381,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
185382,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
185383,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [28]:
merge_data_712.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185384 entries, 0 to 185383
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             185384 non-null  int64
 1   starttime                185384 non-null  object
 2   stoptime                 185384 non-null  object
 3   start station id         185384 non-null  int64
 4   start station name       185384 non-null  object
 5   start station latitude   185384 non-null  float64
 6   start station longitude  185384 non-null  float64
 7   end station id           185384 non-null  int64
 8   end station name         185384 non-null  object
 9   end station latitude     185384 non-null  float64
 10  end station longitude    185384 non-null  float64
 11  bikeid                   185384 non-null  int64
 12  usertype                 185384 non-null  object
 13  birth year               185384 non-null  int64
 14  gender                   185384 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 22.6+ MB

In [29]:
merge_data_7121=merge_data_712.loc[merge_data_712["tripduration"]>120]

In [30]:
merge_data_7121

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185379,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
185380,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
185381,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
185382,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
185383,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [31]:
merge_data_final1 = merge_data_7121.reset_index(drop=True)

In [32]:
merge_data_final1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182029,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
182030,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
182031,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
182032,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
182033,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [33]:
merge_data_final2=merge_data_final1.loc[merge_data_final1["tripduration"]<1440]

In [34]:
merge_data_final2

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
5,750,2020-07-01 01:05:08.8790,2020-07-01 01:17:39.2000,3276,Marin Light Rail,40.714584,-74.042817,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42446,Customer,1969,0
6,529,2020-07-01 01:13:12.2900,2020-07-01 01:22:02.2810,3206,Hilltop,40.731169,-74.057574,3187,Warren St,40.721124,-74.038051,44415,Customer,1969,0
7,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,44225,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182025,626,2020-12-31 22:14:24.1850,2020-12-31 22:24:50.2050,3209,Brunswick St,40.724176,-74.050656,3187,Warren St,40.721124,-74.038051,42361,Customer,1969,0
182026,704,2020-12-31 22:37:08.3630,2020-12-31 22:48:52.5220,3194,McGinley Square,40.725340,-74.067622,3203,Hamilton Park,40.727596,-74.044247,40858,Customer,1969,0
182027,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,38449,Subscriber,1980,1
182028,982,2020-12-31 22:59:05.5250,2020-12-31 23:15:28.3710,3677,Glenwood Ave,40.727551,-74.071061,3184,Paulus Hook,40.714145,-74.033552,46340,Customer,1969,0
182032,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0

In [35]:
merge_data_final = merge_data_final2.reset_index(drop=True)

In [36]:
merge_data_final

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
2,750,2020-07-01 01:05:08.8790,2020-07-01 01:17:39.2000,3276,Marin Light Rail,40.714584,-74.042817,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42446,Customer,1969,0
3,529,2020-07-01 01:13:12.2900,2020-07-01 01:22:02.2810,3206,Hilltop,40.731169,-74.057574,3187,Warren St,40.721124,-74.038051,44415,Customer,1969,0
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,44225,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135339,626,2020-12-31 22:14:24.1850,2020-12-31 22:24:50.2050,3209,Brunswick St,40.724176,-74.050656,3187,Warren St,40.721124,-74.038051,42361,Customer,1969,0
135340,704,2020-12-31 22:37:08.3630,2020-12-31 22:48:52.5220,3194,McGinley Square,40.725340,-74.067622,3203,Hamilton Park,40.727596,-74.044247,40858,Customer,1969,0
135341,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,38449,Subscriber,1980,1
135342,982,2020-12-31 22:59:05.5250,2020-12-31 23:15:28.3710,3677,Glenwood Ave,40.727551,-74.071061,3184,Paulus Hook,40.714145,-74.033552,46340,Customer,1969,0
135343,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0

In [37]:
merge_data_final.dropna()
merge_data_final[merge_data_final.gender!=0]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,44225,Subscriber,1986,1
6,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42258,Subscriber,1992,2
7,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,44403,Subscriber,1996,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135334,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,44394,Customer,1997,1
135335,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,48913,Subscriber,1990,1
135336,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,45256,Customer,1989,2
135337,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,44401,Customer,1986,1
135341,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,38449,Subscriber,1980,1

In [40]:

merge_data_final=merge_data_final[merge_data_final.gender!=0]

In [41]:
merge_data_final=merge_data_final.replace({'gender': 1}, {'gender': 'Male'}, regex=True)

In [42]:
merge_data_final=merge_data_final.replace({'gender': 2}, {'gender': 'Female'}, regex=True)

In [43]:
merge_data_final

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,Male
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,Male
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,44225,Subscriber,1986,Male
6,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42258,Subscriber,1992,Female
7,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,44403,Subscriber,1996,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135334,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,44394,Customer,1997,Male
135335,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,48913,Subscriber,1990,Male
135336,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,45256,Customer,1989,Female
135337,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,44401,Customer,1986,Male
135341,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,38449,Subscriber,1980,Male

In [44]:
merge_data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117231 entries, 0 to 135341
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             117231 non-null  int64
 1   starttime                117231 non-null  object
 2   stoptime                 117231 non-null  object
 3   start station id         117231 non-null  int64
 4   start station name       117231 non-null  object
 5   start station latitude   117231 non-null  float64
 6   start station longitude  117231 non-null  float64
 7   end station id           117231 non-null  int64
 8   end station name         117231 non-null  object
 9   end station latitude     117231 non-null  float64
 10  end station longitude    117231 non-null  float64
 11  bikeid                   117231 non-null  int64
 12  usertype                 117231 non-null  object
 13  birth year               117231 non-null  int64
 14  gender                   117231 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 14.3+ MB

In [45]:
# Add ride id column to uniquely identify each ride
merge_data_final["bikeid"] = merge_data_final["start station id"].map(str) + "_" + merge_data_final["end station id"].map(str)
merge_data_final.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male
6,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female
7,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male

In [46]:
# Calculate age of riders
ages = []

for i in merge_data_final["birth year"]:
    age = 2022 - i
    ages.append(age)

In [47]:
merge_data_final['Age'] = ages
merge_data_final.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,57
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,28
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,36
6,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,30
7,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,26

In [48]:
# Delete all rows where user age is over 70
merge_data_final3= merge_data_final.loc[merge_data_final["Age"] <= 70]

In [49]:
merge_data_final3

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,57
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,28
4,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,36
6,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,30
7,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135334,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,3678_3195,Customer,1997,Male,25
135335,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,3211_3269,Subscriber,1990,Male,32
135336,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1989,Female,33
135337,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1986,Male,36
135341,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,3681_3681,Subscriber,1980,Male,42

In [50]:
merge_data_final4 = merge_data_final3.reset_index(drop=True)

In [51]:
merge_data_final4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,57
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,28
2,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,36
3,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,30
4,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116808,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,3678_3195,Customer,1997,Male,25
116809,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,3211_3269,Subscriber,1990,Male,32
116810,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1989,Female,33
116811,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1986,Male,36
116812,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,3681_3681,Subscriber,1980,Male,42

In [ ]:
# Group ages in bins

In [53]:
bins = [0,17,30,40,50,60,70]
labels=['0-17', '18-29', '30-39','40-49', '50-59','60-70']

In [54]:
merge_data_final4['Age group']=pd.cut(merge_data_final4['Age'],bins,labels=labels)

In [55]:
del merge_data_final4['Age']

In [56]:
merge_data_final4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age group
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,50-59
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,18-29
2,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,30-39
3,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,18-29
4,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,18-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116808,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,3678_3195,Customer,1997,Male,18-29
116809,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,3211_3269,Subscriber,1990,Male,30-39
116810,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1989,Female,30-39
116811,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1986,Male,30-39
116812,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,3681_3681,Subscriber,1980,Male,40-49

In [57]:
# Python 3 program to calculate Distance Between Two Points on Earth
from math import sin, cos, sqrt, atan2, radians
# def distance(lat1, lat2, lon1, lon2):



# Convert degrees to radians
lat1 = [radians(lat) for lat in merge_data_final4["start station latitude"]]
lon1 = [radians(lon) for lon in merge_data_final4["start station longitude"]]
lat2 = [radians(lat) for lat in merge_data_final4["end station latitude"]]
lon2 = [radians(lon) for lon in merge_data_final4["end station longitude"]]


# Convert lists into series
lat1 = pd.Series(lat1)
lon1 = pd.Series(lon1)
lat2 = pd.Series(lat2)
lon2 = pd.Series(lon2)

#  Calculate difference between each set of latitude and longitude
dlat = lat2 - lat1
dlon = lon2 - lon1

In [58]:
# Approximate radius of Earth in km
R = 6373.0

# Empty list to store trip distances
distance = []

for i in range(0, len(lat1)):
    
    a = sin(dlat[i] / 2)**2 + cos(lat1[i]) * cos(lat2[i]) * sin(dlon[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Get distance and convert km to miles
    miles = (R * c) * .6214
    
    # Append miles travel to 'distance' list
    distance.append(miles)

In [59]:
# Add trip distance as new column to data frame
merge_data_final4["tripdistance (mi)"] = distance
merge_data_final4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age group,tripdistance (mi)
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,50-59,0.884836
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,18-29,1.709717
2,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,30-39,1.340790
3,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,18-29,0.465939
4,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,18-29,0.465939

In [61]:
 merge_data_final4['tripdistance (mi)'] = merge_data_final4['tripdistance (mi)'].round(decimals = 2)

In [62]:
 merge_data_final4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age group,tripdistance (mi)
0,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,3791_3202,Subscriber,1965,Male,50-59,0.88
1,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,3792_3225,Subscriber,1994,Male,18-29,1.71
2,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,3186_3195,Subscriber,1986,Male,30-39,1.34
3,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1992,Female,18-29,0.47
4,535,2020-07-01 01:42:09.6900,2020-07-01 01:51:05.1650,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,3639_3186,Subscriber,1996,Male,18-29,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116808,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,3678_3195,Customer,1997,Male,18-29,0.55
116809,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,3211_3269,Subscriber,1990,Male,30-39,0.38
116810,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1989,Female,30-39,0.77
116811,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,3276_3638,Customer,1986,Male,30-39,0.77
116812,653,2020-12-31 22:38:25.4680,2020-12-31 22:49:18.5150,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,3681_3681,Subscriber,1980,Male,40-49,0.00

In [63]:
 merge_data_final4.to_csv("final_data.csv", encoding='utf-8', index=False)

### End